body{
	background-color: #0a171a;
	color:white;
}
#text{
	padding-left:10%;
	padding-right:45%;
}
#text p{color:gray}
h1{
	
    margin-top: 0; 
    margin-bottom: 3px;
}
header{
	display:grid;
	grid-template-rows: 1fr ;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
	"t ico";
}
h3{
	grid-area: t;
}
.icone{
	grid-area: ico;
	text-align: right;
}
.vert{color:#2fbd8b}
#vert2{color:#2fbd8b}
.btn{
	color:white;
	border:none;
	outline:none;
	background-color:#0a171a;
	cursor:pointer;
	padding:10px 20px;
	margin-top:10px;
	margin-bottom:10px;
}
.bou{
	margin-left:25%
}
.image{
	margin-left:10%;

}
.image img{
	margin-bottom: 3px; 
}

footer{
	text-align:center;
	font-size: 9px;
    margin-top: 14px;
}
@media screen and (max-width: 384px) and (max-height: 854px) {
	.image img:nth-child(n + 15) {
		display: none;
		}
	#text{
		padding-left:10%;
		padding-right:10%;
	}
	.btn{
	padding:5px 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 9px;
	}
	.bou{
		margin-left:22%
	}

	.image img{
		width:30% ;
		
	}
}