body {
    background-color: rgb(63, 67, 75);
}
h1 {
    color: white;
    text-align: center;
}
main {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "pseu mbp mail messa tex urgent";
}
#Pseudo {
    grid-area: pseu;
}
#MBP {
    grid-area: mbp;
}
#mail {
    grid-area: mail;
}
#message {
    grid-area: messa;
}
#tex {
    grid-area: tex;
}
#niv {
    grid-area: urgent;
}
